{% extends 'layouts/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="mb-4">
        <h2>Bonjour, {{ app.user.firstname }} !</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_board') }}" class="small">Accéder à l'administration</a>
        {% endif %}
        <hr />
        <p class="small">Bienvenue dans votre espace personnel. C'est ici que vous pourrez gérer vos informations personnelles.</p>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="account-item text-center">
                    <i class="fas fa-info fa-4x"></i><br />
                    <a href="{{ path('account_update') }}">Modifier mes informations</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
