{% extends 'layouts/admin.html.twig' %}

{% block title %}Création article{% endblock %}

{% block content %}
    <!-- DataTales Categories -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{{ path('admin_post') }}" class="btn btn-secondary float-right">
                <i class="fas fa-chevron-left"></i> Retour
            </a>
            <h2 class="m-0 font-weight-bold text-primary">Création article</h2>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
