{% extends 'layouts/admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Tableau de bord</h1>
{% endblock %}
