{% extends 'layouts/admin.html.twig' %}

{% block title %}Création catégorie{% endblock %}

{% block content %}
    <!-- DataTales Categories -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{{ path('admin_category') }}" class="btn btn-secondary float-right">
                <i class="fas fa-chevron-left"></i> Retour
            </a>
            <h2 class="m-0 font-weight-bold text-primary">Création catégorie</h2>
        </div>
        <div class="card-body">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
